asgiref==3.5.1
certifi==2022.6.15
charset-normalizer==2.0.12
Django==4.0.4
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.6
django-fontawesome-6==1.0.0.0
django-session-timeout==0.1.0
fontawesome==5.10.1.post1
fontawesome-free==5.15.4
idna==3.3
Jinja2==3.1.2
MarkupSafe==2.1.1
Pillow==9.1.1
python-decouple==3.6
PyYAML==6.0
render==1.0.0
requests==2.28.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.9
